
#message {
    outline: none;
    font-size: 15px;
    color: #fff;
    border: none;
    width: 90%;
    display: inline-block;
    background: transparent;
    font-family: 'Muli', sans-serif;
    text-align: center;
    letter-spacing: 2px;
  }