<!-- main -->

<app-navmenu></app-navmenu>
<div class="header-main">
  <h2>Enquiries</h2>
  <div class="col-sm-12">
    
      <table
        class="table table-striped"
        [mfData]="enquiries"
        #enquiryTable="mfDataTable"
        [mfRowsOnPage]="10"
      >
        <thead>
          <tr >
            <th style="width: 40%">
              <mfDefaultSorter by="email">Id</mfDefaultSorter>
            </th>
            <th style="width: 30%">
              <mfDefaultSorter by="name">Name</mfDefaultSorter>
            </th>
            <th style="width: 30%">
              <mfDefaultSorter by="email">Email</mfDefaultSorter>
            </th>

            <th style="width: 30%">
              <mfDefaultSorter by="mobile">Mobile</mfDefaultSorter>
            </th>
            <th style="width: 40%">
              <mfDefaultSorter by="message">Message</mfDefaultSorter>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of enquiryTable.data">
            <td>{{ item.id }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.email }}</td>
            <td>{{ item.mobile }}</td>
            <td>{{ item.message }}</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="4">
              <mfBootstrapPaginator
                [rowsOnPageSet]="[5, 10, 25]"
              ></mfBootstrapPaginator>
            </td>
          </tr>
        </tfoot>
      </table>
    
  </div>
</div>

<!-- //main -->
