.equiry-block {
  width: 100%;
  text-align: center;
}

.equiry-block .table {
  width: 70%;
  margin: 0 auto;
  background-color: white;
}

.equiry-block .table thead tr th {
  background-color: #eee;
}

.equiry-block .table thead tr th, .equiry-block .table tbody tr td {
  border: 1px solid #65626224;
  padding: 7px;
}

.equiry-block .table thead tr th a {
  font-weight: 700;
}

.equiry-block .table tbody tr td {
  font-size: 14px;
}

.equiry-block .page-link {
  padding: 5px 10px;
}

.equiry-block .table tfoot tr td 
ul.pagination {
  float: left;
}

.w3top-nav-left h1 {
  font-size: 2.5em;
}