<app-navmenu></app-navmenu>
<div class="row mt-4">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <div class="tab-panel">
      <tabset>
        <tab heading="Add Tenants">
          <div class="col-sm-4">
            <div class="header-left-bottom agileinfo mt-4">
              <form #addTenantForm="ngForm" (ngSubmit)="saveTenant()">
                <div class="icon1">
                  <input type="email" placeholder="Email" name="email" autocomplete="off" [(ngModel)]="tenant.email" required="" />
                </div>
                <div class="icon1">
                    <input type="email" placeholder="Company Name" name="shortname" autocomplete="off" [(ngModel)]="tenant.shortName" required="" />
                </div>
                <div class="icon1">
                  <input type="email" placeholder="Mobiles no comma separated" name="mobile" autocomplete="off" [(ngModel)]="tenant.mobile" required="" />
                </div>
                <div class="bottom">
                  <input type="submit" value="Save" />
                </div>
              </form>
            </div>
          </div>
        </tab>
        <tab heading="List Tenants">
          <div class="header-main setting-table">
            <h2>Tenants</h2>
            <div class="col-sm-12">
              
                <table
                  class="table"
                  [mfData]="tenants"
                  #tenantTable="mfDataTable"
                  [mfRowsOnPage]="10"
                >
                  <thead>
                    <tr >
                      <th style="width: 40%">
                        <mfDefaultSorter by="email">Id</mfDefaultSorter>
                      </th>
                      <th style="width: 30%">
                        <mfDefaultSorter by="name">Name</mfDefaultSorter>
                      </th>
                      <th style="width: 30%">
                        <mfDefaultSorter by="email">Email</mfDefaultSorter>
                      </th>
                      <th style="width: 30%">
                        <mfDefaultSorter by="mobile">Mobile</mfDefaultSorter>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of tenantTable.data">
                      <td>{{ item.id }}</td>
                      <td>{{ item.shortName }}</td>
                      <td>{{ item.email }}</td>
                      <td>{{ item.mobile }}</td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                      <td colspan="4">
                        <mfBootstrapPaginator
                          [rowsOnPageSet]="[5, 10, 25]"
                        ></mfBootstrapPaginator>
                      </td>
                    </tr>
                  </tfoot>
                </table>
              
            </div>
          </div>
        </tab>
      </tabset>
    </div>
  </div>
  <div class="col-sm-2"></div>
</div>
