<div class="w3top-nav">	
  <div class="w3top-nav-left">	
    <h1><a [routerLink]="['/home']" routerLinkActive="active">Quarks Tech Infosoft</a></h1>
  </div>	
  <div class="w3top-nav-right">	
    <ul>
      <li><a [routerLink]="['/home']" routerLinkActive="active">Home</a></li>
      <li><a [routerLink]="['/about']" routerLinkActive="active">About</a></li>  
      <li><a [routerLink]="['/contact']" routerLinkActive="active">Contact</a></li>
      <li><a [routerLink]="['/enquiries']" routerLinkActive="active" *ngIf="authService.decodedToken?.role=='admin'">Enquiries</a></li>
      <li><a [routerLink]="['/settings']" routerLinkActive="active" *ngIf="authService.decodedToken?.role=='admin'">Settings</a></li>
      <li><a class="active" (click)="logout()" *ngIf="loggedIn()" style="color: aliceblue; cursor: pointer;">Logout</a></li>
    </ul> 
  </div>	
  <div class="clear"></div>
</div>	