<div class="w3top-nav">	
  <div class="w3top-nav-left">	
    <h1><a [routerLink]="['/home']" routerLinkActive="active">QuarksTech</a></h1>
  </div>	
  <div class="w3top-nav-right">	
    <ul>
      <li><a [routerLink]="['/home']" routerLinkActive="active">Home</a></li>
      <li><a [routerLink]="['/about']" routerLinkActive="active">About</a></li>  
      <!--<li><a href="#">Services</a></li> 
       <li><a href="#">Gallery</a></li>
      <li><a href="#">Blog</a></li>  -->
      <li><a [routerLink]="['/contact']" routerLinkActive="active">Contact</a></li>
    </ul> 
  </div>	
  <div class="clear"></div>
</div>	